.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.NavBarStyling {
  margin-bottom: 0;
}

.RowC {
  display:flex;
  flex-direction:row;
  width:100;
}

.LeaveTrackerList {
  width:30%;
  margin-top: 20px;
  align-items: flex-start;
}

.CalendarDiv {
  width:70%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.CalendarStyling {
  width:100%;
}

.TakenLeaveListItemStyling {
  color: green;
}

.BookedLeaveListItemStyling {
  width:100%;  
}

.ModalBackdropStyle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50
};

.ModalContentAreaStyle {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px
};

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
